.auth-div{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateX(30vw) translateY(3vw);
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 40vw;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.back-btn{
    display: flex;
    gap: 1rem;
    top: calc(2vw - 5px);
    left: calc(3vw - 5px);
    color: #6b1d4d;
    position: fixed;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}
.form-grid{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.auth-div form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.auth-div form input {
    background: #f5f5f5;
    padding: 1rem;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.auth-div form input:focus{
    outline: none;
    border: 1px solid #6b1d4d;
    box-shadow: 0 0 0 3px rgba(107, 29, 77, 0.15);
}
.auth-btn{
    width:200px;
    padding: 1rem;
    color: aliceblue;
    background: #6b1d4d;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.auth-btn:hover{
    
    background: #5a173f;
    transform: translateX(1px) translatey(1px);
    box-shadow: 3px 3px gray;
}

.auth-sub-text{
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    border: none;
    color: rgb(35, 35, 68);
}

.eye-btn{
    position: absolute;
    right: -2rem;
    background: transparent;
    border: none;
    font-size: 20px;
}
.pass-warn{
    position: absolute;
    transform: translateX(100%) translateY(200%);
    font-size: 15px;
}
.pass-instr{
    position: absolute;
    transform: translateY(290%);
    font-size: 10px;
}