.footer-div{
    width: 100%;
    padding: 1rem;
    height: min-content;
    background: #6b1d4d;
}

.footer-cont{
    width: 100%;
    /* gap: 0.5rem; */
    display: flex;
    background-color: transparent;
    color: white;
    font-size: 15px;
    justify-content: space-around;
    align-items:last baseline;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.footer-social{
    display: flex;
    font-size: 30px;
    gap: 1rem;
}
.copy-div{
    display: flex;
    align-items: center;
    color:white;
    padding-left: 6rem;
}
.separator{
    height: 6rem;
    width: 1px;
    background: #756767;
}

@media (max-width: 760px) {
    .footer-cont {
        font-size: small;
        align-items: flex-start;
        /* flex-direction: column; */
        padding: 1rem;
    }

    .footer-cont h2 {
        font-size: 36px !important;
    }

    .separator {
        display: none;
    }

    .copy-div {
        padding: 1rem;
        align-items: flex-start;
    }
}
