.order-det-div{
    width: min(80vw, 1200px);
    height: min-content;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 25px;
    color: rgba(60, 61, 61, 0.877);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.total-price{
    text-align: right;
    color: #6b1d4d;
}

@media (max-width: 1024px) {
    .order-det-div {
        width: calc(100% - 3rem);
        padding: 3rem 2rem;
    }
}

@media (max-width: 760px) {
    .order-det-div {
        width: calc(100% - 2rem);
        padding: 1.5rem;
        font-size: 20px;
    }

    .total-price {
        text-align: left;
    }
}
