.prod-card{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    background: #dfd2d2;
}
.prod-card button{
    width: 100px;
}
.prod-card h2{
    color: red;
}
.prod-card:hover{
    scale: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: 1s;
}