
.prod-det-div{
    position: relative;
    padding: 2rem;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    color: rgba(60, 61, 61, 0.877);


}
.prod-det-left{
    width: 35vw;
}
.prod-img{
    background: #fafafa;
    border-radius: 12px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
}
.heart{
    font-size: 50px;
    position: absolute;
    top: 60px;
    left: 580px;
    color: #6b1d4d;
}
.prod-det-right{
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* justify-content: center; */
    padding: 3rem;
    width: 43vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}
.counter{
    height: 50px;
    width: 250px;
    display: flex;
    border: 1px solid #d4d2d25e;
}
.count-btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background: #d4d2d25e;
}
.counter input{
    /* padding: 1rem; */
    color: black;
    font-size: 35px;
    font-weight: 100;
    display: flex;
    text-align: center;
    border: none;
    width: 60%;
}
.prod-det-btn, .comment-btn{
    /* transform: translateX(200%); */
    width:200px;
    padding: 1rem;
    color: aliceblue;
    background: #6b1d4d;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* .comment-btn{
    width: 500px;
    font-size: 30px;
} */
.prod-det-btn:hover ,.comment-btn:hover{
    
    background: #5a173f;
    box-shadow: 3px 3px gray;
}
.review-modal {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fafafa;
}

.star-select svg {
  font-size: 24px;
  cursor: pointer;
  fill: #ccc;
}

.star-select svg.active-star {
  fill: #6b1d4d;
}

.review-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.review-actions button{
    background: #6b1d4d;
    color: white;
    border: none;
    padding: 0.4rem;
}
.upload-img-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
}
.comments-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.com-dp{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #c970a7;
    border: none;
    object-fit: cover;

}