.prod-card{
    padding: 1rem;
    height: 400px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);

}
.text-field{
    margin: 1rem 0 ;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.prod-btn{
    /* transform: translateX(200%); */
    width:150px;
    padding: 1rem;
    color: aliceblue;
    background: #6b1d4d;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.prod-btn:hover{
    
    background: #5a173f;
    box-shadow: 3px 3px gray;
}