
.prod-det-div{
    position: relative;
    padding: 2rem;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    color: rgba(60, 61, 61, 0.877);


}
.prod-det-left{
    width: 35vw;
}
.prod-det-left img{
    background: #fafafa;
    border-radius: 12px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
}
.heart{
    font-size: 50px;
    position: absolute;
    top: 60px;
    left: 580px;
    color: #6b1d4d;
}
.prod-det-right{
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* justify-content: center; */
    padding: 3rem;
    width: 43vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}
.counter{
    height: 50px;
    width: 250px;
    display: flex;
    border: 1px solid #d4d2d25e;
}
.count-btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background: #d4d2d25e;
}
.counter input{
    /* padding: 1rem; */
    color: black;
    font-size: 35px;
    font-weight: 100;
    display: flex;
    text-align: center;
    border: none;
    width: 60%;
}
.prod-det-btn{
    /* transform: translateX(200%); */
    width:200px;
    padding: 1rem;
    color: aliceblue;
    background: #6b1d4d;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.prod-det-btn:hover{
    
    background: #5a173f;
    box-shadow: 3px 3px gray;
}