body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* overflow-y: hidden; */
}

.wrapper{

    width: 100vw;
    min-height: 100vh;
    color: #111827;
    /* transform: translateX(5%); */

}
.wrapper.active{
    background-color: #2e2c2c;
    color: rgb(70, 110, 76);
}