body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    /* overflow-y: hidden; */
}

.wrapper{

    width: 100vw;
    min-height: 100vh;
    background-color: #7091b3;
    color: #111827;
    /* transform: translateX(5%); */

}
.wrapper.active{
    background-color: #2e2c2c;
    color: rgb(70, 110, 76);
}